{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block body %}

<div class="container my-5" style="color:white;">
    <h2>Add a Device</h2>
    <form action="/" method="post">
        <div class="mb-3">
            <label for="Cust_Name" class="form-label">Customer Name</label>
            <input type="text" class="form-control" name="Cust_Name" id="Cust_Name">
        </div>
        <div class="mb-3">
            <label for="Model" class="form-label">Mobile Model</label>
            <input type="text" class="form-control" name="Model" id="Model">
        </div>
        <div class="mb-3">
            <label for="Mob_No" class="form-label">Mobile Number</label>
            <input type="text" class="form-control" name="Mob_No" id="Mob_No">
        </div>
        <div class="mb-3">
            <label for="Alt_No" class="form-label">Alternate Number</label>
            <input type="text" class="form-control" name="Alt_No" id="Alt_No">
        </div>
        <div class="mb-3">
            <label for="RAM" class="form-label">RAM</label>
            <input type="text" class="form-control" name="RAM" id="RAM">
        </div>
        <div class="mb-3">
            <label for="ROM" class="form-label">ROM</label>
            <input type="text" class="form-control" name="ROM" id="ROM">
        </div>
        <div class="mb-3">
            <label for="Address" class="form-label">Address</label>
            <input type="text" class="form-control" name="Address" id="Address">
        </div>
        <div class="mb-3">
            <label for="IMEI_1" class="form-label">IMEI 1</label>
            <input type="text" class="form-control" name="IMEI_1" id="IMEI_1" required>
        </div>
        <div class="mb-3">
            <label for="IMEI_2" class="form-label">IMEI 2</label>
            <input type="text" class="form-control" name="IMEI_2" id="IMEI_2">
        </div>
        <div class="mb-3">
            <label for="Adhar" class="form-label">Adhar No</label>
            <input type="text" class="form-control" name="Adhar" id="Adhar">
        </div>
        <div class="mb-3">
            <label for="PAN" class="form-label">PAN</label>
            <input type="text" class="form-control" name="PAN" id="PAN">
        </div>
        <div class="mb-3">
            <label for="Driv_Lisce" class="form-label">Driving liscence</label>
            <input type="text" class="form-control" name="Driv_Lisce" id="Driv_Lisce">
        </div>
        <div class="mb-3">
            <label for="Amount" class="form-label">Amount</label>
            <input type="text" class="form-control" name="Amount" id="Amount">
        </div>
        <button type="submit" class="btn btn-primary btn-light">Submit</button>
    </form>
</div>

{% endblock body %}